[submodule "utils/vscode-utils"]
	path = utils/vscode-utils
	url = https://github.com/zecarneiro/vscode-utils.git
[submodule "utils/nodejs-utils"]
	path = utils/nodejs-utils
	url = https://github.com/zecarneiro/nodejs-utils.git
